
<table>
    <thead>
      <tr>
        <th style="width:250px">Name</th>
        <th style="width:50px">Age</th>
        <th style="width:150px">Cuteness</th>
        <th style="width:150px">Softness</th>
        
      </tr>
    </thead>

    <tbody>
        <tr>
          <td style="text-align:center"><%= @kitten.name %></td>
          <td style="text-align:center"><%= @kitten.age %></td>
          <td style="text-align:center"><%= @kitten.cuteness %></td>
          <td style="text-align:center"><%= @kitten.softness %></td>
        </tr>

    </tbody>
</table>